<div class="BodyImageContainer">
  <div class="TitleConTainer">
    <div class="gridContainer">
      <div class="JpBubbleContent">
        <div class="BodyImageContent">
          <div class="CenteredText">
            日本在地泡泡浴領路人
          </div>
          <img class="StyledBodyImage" src="{{homePageImage}}" />
        </div>
      </div>
    </div>
  </div>
</div>